[Unit]
Description=Start OpenMRS vm
After=network.target vboxdrv.service
Before=runlevel2.target

[Service]
User=hms
Group=vboxusers
Type=forking
Restart=no 
TimeoutSec=5min
KillMode=process
RemainAfterExit=yes

ExecStartPre=/usr/sbin/modprobe vboxdrv
ExecStart=/usr/bin/VBoxManage startvm openmrs --type headless
ExecStop=/usr/bin/VBoxManage controlvm openmrs poweroff

[Install]
WantedBy=multi-user.target